.window {
	width: min-content;
	position: absolute;
	top: 2em;
	left: 5em;
	border: 1px solid #666;
	margin: 3px;
	background-color: #eee;
	color: #666;
}

.window:focus-within {
	border: 4px solid #ccc;
	margin: 0;
	color: #000;
}

.window>.title {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	height: 1.5em;
	user-select: none;
	background-color: #666;
	color: #ccc;
	padding-left: 0.25em;
	padding-right: 1.5em;
	box-sizing: border-box;
	font: 1em/1.5 sans-serif;
	border: none;
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
	text-align: left;
}

.window:focus-within>.title {
	color: #fff;
}

.window>.close-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	padding-left: 0.25em;
	height: 1em;
	font: 1.5em/1em sans-serif;
	box-sizing: border-box;
	color: #ccc;
	border: none;
	background: transparent;
}

.window:focus-within>.close-button {
	color: #fff;
}

.window>.close-button:hover, .window>.close-button:focus {
	background-color: #f99;
	color: #000;
}

.window>.close-button:after {
	content: '\00d7';
}

.window>.body {
	margin-top: 1.5em;
	display: flex;
}

.window.margined>.body {
	margin: 2.5em 1em 1em;
}

.window>.body>* {
	flex-grow: 1;
}

.cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}
